{
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 100,
	"useTabs": true,
	"overrides": [
		{
			"files": "README.md",
			"options": {
				"printWidth": 100,
				"trailingComma": "none",
				"useTabs": false,
				"semi": false
			}
		}
	]
}
